<?xml version="1.0" encoding="utf-8"?>
<ArucoCameraParameters xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CalibrationDateTime>2021-05-28T14:01:28.302918+02:00</CalibrationDateTime>
  <CameraNumber>1</CameraNumber>
  <ImageHeights>
    <int>720</int>
  </ImageHeights>
  <ImageWidths>
    <int>1280</int>
  </ImageWidths>
  <CalibrationFlagsValue>256</CalibrationFlagsValue>
  <FixAspectRatioValue>0</FixAspectRatioValue>
  <ReprojectionErrors>
    <double>0.35324672764196</double>
  </ReprojectionErrors>
  <CameraMatricesType>CV_64F</CameraMatricesType>
  <CameraMatricesValues>
    <ArrayOfArrayOfDouble>
      <ArrayOfDouble>
        <double>982.92847383521087</double>
        <double>0</double>
        <double>701.21151836995659</double>
      </ArrayOfDouble>
      <ArrayOfDouble>
        <double>0</double>
        <double>983.51648415049692</double>
        <double>361.18308365940885</double>
      </ArrayOfDouble>
      <ArrayOfDouble>
        <double>0</double>
        <double>0</double>
        <double>1</double>
      </ArrayOfDouble>
    </ArrayOfArrayOfDouble>
  </CameraMatricesValues>
  <DistCoeffsType>CV_64F</DistCoeffsType>
  <DistCoeffsValues>
    <ArrayOfArrayOfDouble>
      <ArrayOfDouble>
        <double>0.11677055626314216</double>
        <double>-0.45365102250816641</double>
        <double>0.0065701927251716179</double>
        <double>0.00075332022709223426</double>
        <double>0.54401731344422266</double>
      </ArrayOfDouble>
    </ArrayOfArrayOfDouble>
  </DistCoeffsValues>
  <OmnidirXisType>CV_8U</OmnidirXisType>
  <OmnidirXisValues>
    <ArrayOfArrayOfDouble />
  </OmnidirXisValues>
</ArucoCameraParameters>